@charset "UTF-8";
#bitcamp_table {width: 80%; margin: 50px auto 0; border: 1px solid grey}
#bitcamp_table tr {height:30px; border: 1px solid grey}
#bitcamp_table th {height:30px; border: 1px solid grey; background-color: lightgrey}
#bitcamp_table td {height:30px; border: 1px solid grey}
#bitcamp_cofirm_btn {width: 100px; height: 34px; margin: 40px 0px 0px 0px; font-size: 20px;
		border: none; background-color: tomato; color: white}
#bitcamp_profile_table {width: 80%; margin: 50px auto 0; border: 1px solid grey}
#bitcamp_profile_table tr {height:50px; border: 1px solid grey}
#bitcamp_profile_table td {height:50px; border: 1px solid grey}
.photo {width: 20%}
.column1 {width: 10%; background-color: lightgrey}
.column2 {width: 30%}